<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases >
		
		<typeAlias alias="register" type="pet.model.dto.MemberDTO" />
		<typeAlias alias="reviewDTO" type="pet.model.dto.ReviewDTO" />
		<typeAlias alias="likeReviewDTO" type="pet.model.dto.LikeReviewDTO" />
		<typeAlias alias="hospitalDTO" type="pet.model.dto.HospitalDTO" />
	</typeAliases>

	<mappers> 
		<mapper resource="/pet/model/sql/sql.xml" />
		<mapper resource="/pet/model/sql/MapSQL.xml" />
	</mappers>
	

</configuration>